*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Josefin Sans', sans-serif;
}

/* Start About */
@media (max-width: 767px) {
  .about .container .img {
    width: 100%;
  }
  .about .container img {
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .about .container .box {
    max-width: 100%;
  }
}
/* End About */

